/* GENERAL INFORMATIONS */
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.marges{
    margin-left: 3.5%;
    margin-right: 3.5%;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header, .section_1{
    margin-left: 1%;
    margin-right: 1%;
}
.header_logo{
    display: flex;
    align-self: center;
    width: 7%;
}

header img{
    width: 100%;
}

nav{
    width: 500px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

nav li{
    list-style-type: none;
    padding-left: 1px;
    padding-right: 1px;
}

.nav_link_accommodation{
    padding-top: 35px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    color: black;
}

.nav_link_activities{
    padding-top: 35px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}
    
.nav_link_register{
    padding-left: 30px;
    font-weight: bold;
    color: #0065FC;
    text-decoration: none;
}

.nav_link_accommodation:hover, .nav_link_activities:hover{
    border-top: #0065FC 3px solid;
}

.nav_link_register:hover{
    transition: ease-in 300ms;
    color: #DEEBFF;
}

/* SECTION 1 */
.search_box{
    display: flex;
    align-items: center;
    width: auto;
    margin: 30px 30px;
}

.description_section_1{
    margin-bottom: 30px;
}

h1{
    font-size: 1.4em;
    height: 35px;
}

/* FORMULAIRE */
.form_box{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    padding-top: 20px;
}

.map_marker{
    padding: 16px 18px 16px 19px;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 55px;
}

.search_text, .search_button{
    border: none;
    background: none;
    font-size: 18px;
}

.search_text{
    width: 235px;
    border: 2px solid #F2F2F2;
    padding: 15px 0 15px 15px;
    height: auto;
    font-size: large;
    font-weight: bold;
}

input::placeholder{
    color: black;
}

.search_button{
    border: 0px solid #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    background-color: #0065FC;
    width: auto;
    padding: 17px 20px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
}

/* FILTRES */
.search_box{
    font-weight: 900;
    font-size: 17px;
    align-items: center;
    height: 110px;
    margin: 0;
}

.icon_filter{
    color: #0065FC;
    border: solid #DEEBFF;
    padding: 10px;
    margin-right: 10px;
    border-radius: 999px;
    background-color: #DEEBFF;
}

.section_1 ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.section_1 li{
    width: auto;
    margin-right: 20px;
}

.section_1 a{
    font-size: 17px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: black;
    border: 3px solid #F2F2F2;
    border-radius: 999px;
    padding-right: 20px;
    width: auto;
}

.section_1 a:hover{
    box-shadow: 6px 6px 3px #F2F2F2;
    background-color: #DEEBFF;
    transition: ease-in 400ms;
}

/* INFORMATION */
.info_search{
    display: flex;
    align-items: center;
    height: auto;
    margin-bottom: 30px;
}

.info_search i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    border: 1px solid lightgray;
    border-radius: 15px;
    color: #0065FC;
}

/* MAIN */
.contenu_main {
    display: flex;
}

/* SECTION 2 */
.section_2 h2{
    padding-top: 30px;
}
.section_2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2;
    background-color: #F2F2F2;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 20px;
    height: 650px;
}

.contenu_hebergements_1{
    display: flex;
    justify-content: space-between;
    height: auto;
}

.section_2 article{
    width: 30%;
    background-color: white;
    border: white solid 5px;
    box-shadow: lightgray 2px 2px 10px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.section_2 a{
    text-decoration: none;
}

.section_2 article:hover{
    transition: linear 200ms;
    box-shadow: #0065FC 8px 8px 10px;
}

.img_hebergements1{
    background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.img_hebergements2{
    background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.img_hebergements3{
    background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.section_2 .info_article{
    padding-left: 10px;
}

article h3{
    font-size: 17px;
    font-weight: 800;
    color: black;
}    

article p{
    font-size: 0.9em;
    padding-top: 5px;
    color: black;
}

article h3, p, .full_stars, .empty_stars{
    padding-top: 6px;
}

.contenu_hebergements_2{
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-top: 15px;
}

.contenu_hebergements_2 article{
    width: 30%;
    background-color: white;
    border: white solid 5px;
    border-radius: 15px;
}

.img_hebergements4{
    background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.img_hebergements5{
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.img_hebergements6{
    background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.stars_bloc{
    display: flex;
}

.afficher_plus{
    margin-top: 0px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

/* COULEURS ETOILES */
.full_stars{
    color: #0065FC;
    font-size: 12px;
}

.empty_stars{
    color: lightgray;
    font-size: 12px;
}

.bold_word{
    font-weight: bold;
}

/* SECTION 3 */
.section_3{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex: 1;
    margin-left: 20px;
    background-color: #F2F2F2;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.titre_populaires{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-top: 20px;
}

.logo_populaires{
    font-size: 1.6em;
}

.contenu_populaires{
    height: 140px;
}

.contenu_populaires article{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: white;
    border: white solid 5px;
    border-radius: 15px;
}

.img_populaires1{
    background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.img_populaires2{
    background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}
    
.img_populaires3{
    background-image: url("./images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.section_3 .info_article{
    padding-left: 20px;
    width: 65%;
}

.section_3 .stars_bloc{
    padding-top: 1%;
}

.section_3 a{
    text-decoration: none;
}

.section_3 article:hover{
    transition: linear 200ms;
    box-shadow: #0065FC 8px 8px 10px;
}

/* SECTION 4 */
.section_4{
    margin-top: 60px;
}
.contenu_activites{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 450px;
}

.section_4 h2{
    padding-bottom: 25px;
}

.section_4 .row{
    width: 21.5%;
    height: auto;
}

.section_4 .column{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 20%;
    height: auto;
}

.section_4 a{
    text-decoration: none;
}

.section_4 article{
    border-radius: 15px;
    box-shadow: #F2F2F2 1px 1px 1px 4px;
}

.section_4 article:hover{
    transition: linear 200ms;
    box-shadow: #0065FC 8px 8px 10px;
}

.img_activites1{
    background-image: url("./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 393px;
    border-radius: 15px 15px 0 0;
}

.img_activites2{
    background-image: url("./images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 180px;
    border-radius: 15px 15px 0 0;
}

.img_activites3{
    background-image: url("./images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 105px;
    border-radius: 15px 15px 0 0;
}

.img_activites4{
    background-image: url("./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 390px;
    border-radius: 15px 15px 0 0;
}

.img_activites5{
    background-image: url("./images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 140px;
    border-radius: 15px 15px 0 0;
}

.img_activites6{
    background-image: url("./images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 140px;
    border-radius: 15px 15px 0 0;
}

.titre_activites{
    display: flex;
    align-items: center;
    height: 55px;
    border-radius: 0 0 15px 15px;
    padding-left: 20px;
}

/* FOOTER */
footer{
    background-color: #F2F2F2;
}

.contenu_footer{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-right: 25%;
    margin-left: 3.5%;
}

.titre_footer{
    font-size: 1.1em;
    font-weight: 800;
    padding-bottom: 10px;
}

.contenu_footer .article p{
    padding-bottom: 5px;
}

.informations_footer{
    font-weight: 500;
}