/* GENERAL INFORMATIONS */
*{
    box-sizing: border-box;
    margin: 0;
    font-family: "raleway", sans-serif;
}

.contenu_body{
    margin-left: 4%;
    margin-right: 4%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-left: 1%;
    margin-right: 1%;
}

header img{
    width: 26%;
}
nav{
    width: 500px;
}
nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    margin-left: 1px;
    margin-right: 1px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.nav_link_accommodation{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
}

.nav_link_activities{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
}

.nav_link_accommodation:hover, .nav_link_activities:hover{
    border-top: #0065fc 3px solid;
    color: #0065fc;
}


.nav_link_register{
    padding-left: 30px;
}

.nav_link_register{
    font-weight: bold;
    color: #0065fc;
}

.nav_link_register:hover{
    transition: ease-in 500ms;
    color: lightblue;
}



/* SECTION 1 */
.search_box{
    display: flex;
    align-items: center;
    width: auto;
    margin: 30px 30px;
}

.description_section_1{
    margin-bottom: 30px;
}

h1{
    font-size: 1.4em;
    height: 35px;
}



/* PARTIE RECHERCHE */
.form_box{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    padding-top: 20px;
}

.map_marker{
    padding: 16px 18px 16px 19px;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 55px;
}

.search_text, .search_button{
    border: none;
    background: none;
    font-size: 18px;
}

.search_text{
    width: 235px;
    border: 2px solid #F2F2F2;
    padding: 15px 0 15px 15px;
    height: auto;
    font-size: large;
    font-weight: bold;
}

input::placeholder{
    color: black;
}

.search_button{
    border: 0px solid #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    background-color: #0065FC;
    width: auto;
    padding: 17px 20px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
}



/* FILTRES */
.search_box{
    font-weight: 900;
    font-size: 17px;
    align-items: center;
    height: 110px;
    margin: 0;
}

.icon_filter{
    color: #0065FC;
    border: solid #DEEBFF;
    padding: 10px;
    margin-right: 15px;
    border-radius: 999px;
    background-color: #DEEBFF;
}

.section_1{
    margin-left: 1%;
    margin-right: 1%;
}

.section_1 ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.section_1 li{
    width: auto;
    margin-right: 25px;
}

.section_1 a{
    font-size: 17px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: black;
    border: 3px solid #F2F2F2;
    border-radius: 999px;
    padding-right: 25px;
    width: auto;
}

.section_1 a:hover{
    box-shadow: 6px 6px 3px #F2F2F2;
    background-color: #DEEBFF;
    transition: ease-in 400ms;
}



/* INFORMATION */
.info_search{
    display: flex;
    align-items: center;
    height: auto;
    margin-bottom: 30px;
}

.info_search i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    border: 1px solid lightgray;
    border-radius: 15px;
    color: #0065FC;
}



/* MAIN */
main .contenu_main{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: auto;
}

main .contenu_main .section_2{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 935px;
    height: 664px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
}

main .contenu_main .section_2 .titre_section_2{
    padding-top: 40px;
    padding-bottom: 30px;
}

main .contenu_main .contenu_hebergements_1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

main .contenu_main .section_2 .contenu_hebergements_1 article{
    display: flex;
    justify-content: center;
    border: white 5px solid;
    background-color: white;
    border-radius: 15px;
    box-shadow: lightgray 4px 4px 10px;

}

main .contenu_main .section_2 .contenu_hebergements_1 article:hover{
    transition: linear 300ms;
    box-shadow: #0065FC 4px 4px 10px;
}

main .contenu_main .section_2 article a{
    width: 245px;
    height: 192px;
    text-decoration: none;
    color: black;
}

main .contenu_main .section_2 article a img{
    width: 245px;
    height: 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

main .contenu_main .section_2 article a .info_article{
    padding-left: 15px;
}

main .contenu_main h3{
    font-size: 1em;
    font-weight: 800;
    padding-top: 5px;
    padding-bottom: 5px;
}

main .contenu_main .section_2 article a p{
    font-size: 0.9em;
    font-weight: 500;
    padding-bottom: 9px;
}

main .contenu_main .section_2 .contenu_hebergements_2{
    display: flex;
    justify-content: space-between;
}

main .contenu_main .section_2 .contenu_hebergements_2 article{
    display: flex;
    justify-content: center;
    border: white 5px solid;
    background-color: white;
    border-radius: 15px;
    box-shadow: lightgray 4px 4px 10px;
}

main .contenu_main .section_2 .contenu_hebergements_2 article:hover{
    transition: linear 300ms;
    box-shadow: #0065FC 4px 4px 10px;
}

.info_fin_article{
    padding-top: 40px;
    font-size: 1.1em;
    font-weight: 800;
}

.info_fin_article a{
    border: none;
    text-decoration: none;
    color: black;
}



/* SECTION 3 */
.section_3{
    display: flex;
    justify-content: center;
}

.contenu_section_3{
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 420px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 43px;
}

.contenu_section_3 .titre_populaires{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contenu_section_3 .titre_populaires i{
    font-size: x-large;
}

.contenu_section_3 .contenu_populaires section{
    display: flex;
    padding-bottom: 40px;
}

.contenu_section_3 .contenu_populaires section a{
    text-decoration: none;
    display: flex;
    background-color: white;
    color: black;
    border: solid white 5px;
    border-radius: 20px;
    box-shadow: lightgray 4px 4px 10px;
}

.contenu_section_3 .contenu_populaires section a:hover{
    transition: linear 300ms;
    box-shadow: #0065FC 4px 4px 10px;
}

.contenu_section_3 .contenu_populaires section a img{
    width: 149px;
    height: 136px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.contenu_section_3 .contenu_populaires section a .info_article{
    padding-left: 20px;
    padding-top: 10px;
}

.contenu_section_3 .contenu_populaires section a .info_article h3{
    font-size: 1em;
    font-weight: 750;
    padding-bottom: 7px;
}

.contenu_section_3 .contenu_populaires section a .info_article p{
    font-size: 0.8em;
    font-weight: 500;
    padding-bottom: 40px;
}

.contenu_section_3 .contenu_populaires section a .info_article i{
    font-size: 12px;
}



/* COULEUR ETOILES */
.full_stars{
    color: #0065FC;
}

.empty_stars{
    color: lightgray;
}

.stars_group{
    display: flex;
    font-size: 13px;
}



/* SECTION 4 */
.titre_section_4{
    padding-top: 60px;
    padding-bottom: 20px;
}

.contenu_activites{
    display: flex;
    justify-content: space-between;
}

.contenu_activites article{
    border-radius: 25px;
    box-shadow: 1px 1px 10px #F2F2F2;
}

.contenu_activites a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.section_4 article{
    display: flex;
    border: #F2F2F2 solid 4px;
}

.section_4 article:hover{
    box-shadow: #0065FC 8px 8px 10px;
    transition: linear 300ms;
}

.section_4 img{
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.nom_activites{
    width: auto;
    padding-bottom: 18px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.nom_activites p{
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    width: auto;
}

.contenu_activites .colonne_activites{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.fort img{
    height: 180px;
}



/* FOOTER */
footer{
    background-color: #F2F2F2;
}
.contenu_footer{
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-right: 25%;
}

.titre_footer{
    font-size: 1.1em;
    font-weight: 800;
    padding-bottom: 10px;
}

.contenu_footer .article p{
    padding-bottom: 5px;
}

.informations_footer{
    font-weight: 500;
}