/* GENERAL INFORMATIONS */
*{
    box-sizing: border-box;
    margin: 0;
    font-family: "raleway", sans-serif;
}

.contenu_body{
    width: auto;
    margin-left: 4%;
    margin-right: 4%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-left: 1%;
    margin-right: 1%;
}

header img{
    height: 7%;
    width: 26%;
}
nav{
    width: 500px;
}
nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    margin-left: 1px;
    margin-right: 1px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.nav_link_accommodation{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
}

.nav_link_activities{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
}

.nav_link_accommodation:hover, .nav_link_activities:hover{
    border-top: #0065fc 3px solid;
    color: #0065fc;
}


.nav_link_register{
    padding-left: 30px;
}

.nav_link_register{
    font-weight: bold;
    color: #0065fc;
}

.nav_link_register:hover{
    transition: ease-in 500ms;
    color: lightblue;
}



/* SECTION 1 */
.search_box{
    display: flex;
    align-items: center;
    width: auto;
    margin: 30px 30px;
}

.description_section_1{
    margin-bottom: 30px;
}

h1{
    font-size: 1.4em;
    height: 35px;
}



/* PARTIE RECHERCHE */
.form_box{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    padding-top: 20px;
}

.map_marker{
    padding: 16px 18px 16px 19px;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 55px;
}

.search_text, .search_button{
    border: none;
    background: none;
    font-size: 18px;
}

.search_text{
    width: 235px;
    border: 2px solid #F2F2F2;
    padding: 15px 0 15px 15px;
    height: auto;
    font-size: large;
    font-weight: bold;
}

input::placeholder{
    color: black;
}

.search_button{
    border: 0px solid #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    background-color: #0065FC;
    width: auto;
    padding: 17px 20px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
}



/* FILTRES */
.search_box{
    font-weight: 900;
    font-size: 17px;
    align-items: center;
    height: 110px;
    margin: 0;
}

.icon_filter{
    color: #0065FC;
    border: solid #DEEBFF;
    padding: 10px;
    margin-right: 15px;
    border-radius: 999px;
    background-color: #DEEBFF;
}

.section_1{
    margin-left: 1%;
    margin-right: 1%;
}

.section_1 ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.section_1 li{
    width: auto;
    margin-right: 25px;
}

.section_1 a{
    font-size: 17px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: black;
    border: 3px solid #F2F2F2;
    border-radius: 999px;
    padding-right: 25px;
    width: auto;
}

.section_1 a:hover{
    box-shadow: 6px 6px 3px #F2F2F2;
    background-color: #DEEBFF;
    transition: ease-in 400ms;
}



/* INFORMATION */
.info_search{
    display: flex;
    align-items: center;
    height: auto;
    margin-bottom: 30px;
}

.info_search i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    border: 1px solid lightgray;
    border-radius: 15px;
    color: #0065FC;
}



/* MAIN */
main{
    display: flex;
    justify-content: space-between;
    margin-right: 0%;
}

.contenu_main{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width: 63%;
    
}

.contenu_main article{
    display: flex;
    width: 100%;
}

.contenu_main article:hover{
    box-shadow: 8px 8px 10px #0065fc;
    transition: linear 400ms;
    
}



/* SECTION 2 */
.section_2{
    padding-top: 5%;
    background-color: #F2F2F2;
    border-radius: 30px;
    padding-left: 40px;
    width: 100%;
}

.section_2 h2{
    margin-bottom: 25px;
}

.contenu_main .contenu_hebergements_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
}

.section_2 a{
    text-decoration: none;
    width: 100%;
}

.contenu_main .contenu_hebergements_1 article{
    width: 100%;
    height: 200px;
    background-color: white;
    border: white solid 4px;
    margin-right: 40px;
    border-radius: 19px;
}

.contenu_main .contenu_hebergements_1 article img{
    width: 100%;
    height: 60%;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.contenu_main .info_article{
    font-size: 14px;
    font-weight: 500;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.contenu_main .contenu_hebergements_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.contenu_main .contenu_hebergements_2 article{
    width: 100%;
    height: 200px;
    background-color: white;
    border: white solid 4px;
    margin-right: 40px;
    border-radius: 19px;
}

.contenu_main .contenu_hebergements_2 article img{
    width: 100%;
    height: 60%;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.afficher_plus{
    margin-top: 20px;
    padding-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    width: 100%;
}



/* COULEURS ETOILES */
.full_stars{
    color: #0065FC;
    font-size: 12px;
}

.empty_stars{
    color: lightgray;
    font-size: 12px;
}

article h3, p, .full_stars, .empty_stars{
    padding-top: 6px;
}



/* SECTION 3 */
.contenu_section_3{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 45px;
    width: 476px;
    padding-bottom: 8px;
}

aside .titre_populaires{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 45px;
    padding-top: 45px;
}

.section_3 .titre_populaires i{
    font-size: 25px;
}

aside .contenu_populaires{  
    border-radius: 30px;
}

aside section{
    display: flex;
    border: 5.5px solid white;
    border-radius: 15px;
    margin-right: 0px;
    background-color: white;
    margin-bottom: 33px;
}

aside section:hover{
    box-shadow: 8px 8px 10px #0065fc;
    transition: linear 400ms;
}

aside a{
    display: flex;
    text-decoration: none;
    color: black;
}

.contenu_populaires section img{
    width: 126px;
    height: 130px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

aside .info_article{
    padding: 10px 40px 0 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
}

article h3{
    font-size: 17px;
    font-weight: 800;
    color: black;
}

article p{
    padding-top: 5px;
    color: black;
}

aside .info_article i{
    padding-top: 30px;
}



/* SECTION 4 */
.titre_section_4{
    padding-top: 60px;
    padding-bottom: 20px;
}

.contenu_activites{
    display: flex;
    justify-content: space-between;
}

.contenu_activites article{
    border-radius: 25px;
    box-shadow: 1px 1px 10px #F2F2F2;
}

.contenu_activites a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.section_4 article{
    display: flex;
    border: #F2F2F2 solid 4px;
}

.section_4 article:hover{
    box-shadow: #0065FC 8px 8px 10px;
}

.section_4 img{
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.nom_activites{
    width: auto;
    padding-bottom: 18px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.nom_activites p{
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    width: auto;
}

.contenu_activites .test{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.fort img{
    height: 180px;
}



/* FOOTER */
footer{
    background-color: #F2F2F2;
}
.contenu_footer{
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-right: 25%;
}

.titre_footer{
    font-size: 1.1em;
    font-weight: 800;
    padding-bottom: 10px;
}

.contenu_footer .article p{
    padding-bottom: 5px;
}

.informations_footer{
    font-weight: 500;
}