/*----------CLASSES RACCOURCIS----------*/
.border{
    border: solid 1px red;
}

.borderN{
    border: solid 1px black;
}

.bold_word{
    font-weight: bold;
}

.margins{
    margin-left: 3%;
    margin-right: 3%;
}

.flex{
    display: flex;
}

.flex_column{
    display: flex;
    flex-direction: column;
}

.flex_row{
    display: flex;
    flex-direction: row;
}

.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_between{
    display: flex;
    justify-content: space-between;
}

.flex_around{
    display: flex;
    justify-content: space-around;
}

.flex_wrap{
    display: flex;
    flex-wrap: wrap;
}

.align_center{
    display: flex;
    align-items: center;
}

.blue{
    color: #0065fc;
}

.black{
    color: black;
}

.light_blue{
    color: #DEEBFF;
}

.full_stars{
    color: #0065fc;
}

.empty_stars{
    color: lightgray;
}

/*----------INFORMATIONS GENERALES----------*/
* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}

/*----------HEADER----------*/
header{
    height: auto;
    flex-wrap: wrap;
}

/*----------NAVIGATION----------*/
nav{
    margin-left: 1%;
    margin-right: 1%;
    font-size: 1em;
    font-weight: 500;
    height: 120px;
    width: 100%;
}

.nav_logo img{
    align-items: flex-end;
    width: 120px;
    height: 70px;
}

.accommodation_link, .activities_link, .sign_up_link{
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}

.accommodation_link:hover, .activities_link:hover{
    padding-top: 40px;
    color: #0065FC;
    border-top: 3px solid #0065fc;
}

.sign_up_link{
    font-weight: 800;
}

.sign_up_link:hover{
    color: #DEEBFF;
}

.nav_link12_bis{
    display: none;
    width: 100%;
    height: 70px;
}

.nav_link1_bis{
    justify-content: center;
    width: 50%;
}

.nav_link2_bis{
    justify-content: center;
    width: 50%;
}

.accommodation_link2, .activities_link2{
    text-decoration: none;
    color: black;
}

.accommodation_link2:hover, .activities_link2:hover{
    color: #0065FC;
}

.nav_link1_bis:hover, .nav_link2_bis:hover{
    padding-bottom: 10px;
    color: #0065FC;
    border-bottom: 4px solid #0065fc;
}

/*----------SECTION 1----------*/
#search_box{
    margin-bottom: 40px;
    margin-left: 4%;
    margin-right: 4%;
}

#search_box h1{
    font-size: 1.4em;
    font-weight: 800;
    padding-bottom: 7px;
}

#search_box p{
    font-weight: 500;
}

#search_box h2{
    font-size: 1.2em;
    font-weight: 800;
}

#search_box h3{
    font-size: 1.2em;
}

.section_info{
    margin-bottom: 20px;
}

/*----------PARTIE RECHERCHE----------*/
.map_marker{
    padding: 16px 18px 16px 19px;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 55px;
    font-size: 18px;
}

input::placeholder{
    color: black;
}

input{
    width: 235px;
    border: none;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    padding: 15px 0 15px 15px;
    height: auto;
    font-size: large;
    font-weight: bold;
}

.search_area{
    margin-bottom: 30px;
}

.search_button{
    width: 155px;
    background: none;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 17px 20px;
    color: white;
    background-color: #0065FC;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
}

button{
    display: none;
    background: none;
    border: none;
    padding: 18.5px 20px;
    border-radius: 15px;
    color: white;
    background-color: #0065FC;
    cursor: pointer;
}

.search_logo{
    font-size: 17px;
}

/*----------PARTIE FILTRES----------*/
.info_logo i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    border: 1px solid lightgray;
    border-radius: 15px;
    color: #0065FC;
}


.filters_area{
    height: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 40px;
}

.filters_area a{
    text-decoration: none;
    border: lightgray solid 3px;
    border-radius: 999px;
    padding: 0 15px 0 0;
    margin-left: 30px;
}

.filters_area a:hover{
    transition: linear 300ms;
    background-color: #DEEBFF;
}

.filters_area a i{
    background-color: #DEEBFF;
    padding: 15px;
    border-radius: 30px;
    margin-right: 10px;
}

/*----------SECTION 2----------*/
main h2{
    font-size: 1.4em;
    font-weight: 700;
    margin-left: 20px;
    padding-bottom: 0px;
}

main h3{
    font-size: 1em;
    font-weight: 800;
}

main p{
    font-size: 0.8em;
    font-weight: 600;
}

.more{
    font-size: 1.1em;
}

.accommodation_box{
    flex: 2;
    height: 620px;
    background-color: #f2f2f2;
    border-radius: 30px;
    margin-right: 20px;
    margin-bottom: 60px;
    padding-top: 30px;
}

.accommodation_box a{
    text-decoration: none;
}

.accommodation_box article:hover{
    transition: linear 200ms;
    box-shadow: #0065FC 8px 8px 10px;
}

.accommodation_area{
    width: 100%;
}

.accommodation_bloc1{
    width: 100%;
}

.accommodation_box article{
    width: 30%;
    border: white 5px solid;
    background-color: white;
    border-radius: 20px;
    box-shadow: lightgrey 2px 2px 10px;
}

.img_hebergements1{
    background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.img_hebergements2{
    background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

.img_hebergements3{
    background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

.img_hebergements4{
    background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

.img_hebergements5{
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

.img_hebergements6{
    background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

.img_card{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.accommodation_box .info_article{
    width: 100%;
    height: 70px;
    padding: 5px 0 0 10px;
}

.stars_bloc{
    font-size: 12px;
}

.more{
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.accommodation_bloc1{
    margin-bottom: 30px;
}
.accommodation_bloc2{
    margin-top: 30px;
}

/*----------SECTION 3----------*/
#popular_box{
    flex: 1;
    height: 620px;
    background-color: #f2f2f2;
    border-radius: 30px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.popular_area{
    justify-content: space-between;
}

#popular_box article{
    width: 100%;
    height: auto;
    align-items: center;
    border-radius: 15px;
    box-shadow: lightgrey 2px 2px 10px;
}

.popular_title{
    margin-top: 25px;
}

.popular_title i{
    font-size: 1.45em;
}

.img_populaire1{
    background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

.img_populaire2{
    background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

.img_populaire3{
    background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.popular_area article{
    margin-top: 13px;
    margin-bottom: 13px;
    box-shadow: lightgrey 2px 2px 10px;
}

.popular_area a:hover{
    transition: linear 200ms;
    box-shadow: #0065FC 8px 8px 10px;
}

.popular_area a{
    width: 100%;
    text-decoration: none;
    background-color: white;
    border-radius: 20px;
    border: white solid 4px;
}

.img_activities{
    background-position: center;
    background-size: cover;
    width: 45%;
    height: 140px;
    border-radius: 15px 0 0 15px;
}

#popular_box .info_article{
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
}

#popular_box .info_article p{
    padding-top: 10px;
}

#popular_box .stars_bloc{
    display: flex;
    padding-top: 30px;
}

/*----------SECTION 4----------*/
#activities{
    margin-top: 40px;
}

#activities h2{
    font-size: 1.4em;
    font-weight: 800;
}

#activities h3{
    font-size: 1.05em;
    font-weight: 700;
}

.activities_content{
    width: 100%;
    height: 450px;
    margin-top: 20px;
}

.row{
    width: 21.5%;
    height: auto;
}

.column{
    width: 20%;
    height: auto;
}

#activites a{
    text-decoration: none;
}

#activites article{
    border-radius: 15px;
    box-shadow: #F2F2F2 1px 1px 1px 4px;
}

#activites article:hover{
    transition: linear 200ms;
    box-shadow: #0065FC 8px 8px 10px;
}

.titre_activite{
    display: flex;
    align-items: center;
    height: 55px;
    border-radius: 0 0 15px 15px;
    padding-left: 20px;
}

.img_activite{
    border-radius: 15px 15px 0 0;
}

.img_activites1{
    background-image: url("./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 393px;
    width: 100%;
}

.img_activites2{
    background-image: url("./images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 100%;
}

.img_activites3{
    background-image: url("./images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 105px;
    width: 100%;
}

.img_activites4{
    background-image: url("./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 393px;
    width: 100%;
}

.img_activites5{
    background-image: url("./images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 140px;
    width: 100%;
}

.img_activites6{
    background-image: url("./images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 140px;
    width: 100%;
}

/*----------FOOTER----------*/
footer{
    background-color: #f2f2f2;
}

.footer_box{
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-right: 25%;
    margin-left: 3.5%;
}

.footer_box h3{
    font-size: 1.1em;
    font-weight: 800;
    padding-bottom: 20px;
}

.footer_box p{
    padding-bottom: 12px;
    font-weight: 500;
}

@media screen and (max-width: 992px) {
    .filters_area{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: unset;
        flex-wrap: wrap;
        margin: 35px 0 35px 0;
    }

    .filters_area h2{
        margin-bottom: 10px;
    }

    .filters_area a{
        margin: 5px 20px 5px 0;
    }

    nav{
        flex-wrap: wrap;
    }

    /*---------- PARTIE MAIN----------*/
    .main_box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    /*---------- PARTIE POPULAIRES----------*/
    #popular_box{
        width: 100%;
        margin-bottom: 40px;
        margin: 0 0 15px 0;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 30px;
    }

    .popular_title h2{
        margin: 0;
        padding-bottom: 15px;
    }

    /*----------PARTIE HEBERGEMENTS----------*/
    #hebergements h2{
        margin-left: 50px;
        padding-bottom: 20px;
    }
    #hebergements{
        width: 100%;
        margin: 15px 0 70px 0;
    }
    
    .accommodation_bloc1, .accommodation_bloc2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    #hebergements a{
        display: flex;
        width: 100%;
    }

    .accommodation_area article{
        width: 90%;
        margin-bottom: 20px;
    }

    .img_card{
        width: 55%;
        height: 150px;
        border-radius: 12px 0 0 15px;;
    }

    .accommodation_area .info_article{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .more{
        margin-left: 50px;
    }
    
/*----------PARTIE ACTIVITES----------*/
    #activities{
        height: auto;
        margin-left: 75px;
        margin-right: 75px;
        margin-bottom: 40px;
    }

    #activities_box{
        margin-top: 40px;
        height: auto;
    }

    .activities_content{
        display: flex;
        justify-self: center;
        align-items: center;
        flex-direction: column;
        height: auto;
    }

    .row, .column{
        width: 100%;
    }

    .img_activite{
        height: 200px;
    }

    #activities article{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /*----------PARTIE FOOTER----------*/
    
    .footer_box{
        display: flex;
        justify-content: space-around;
        margin: 30px 0 0 0;
        padding: 40px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    .nav_link12{
        display: none;
    }

    .nav_link12_bis{
        display: flex;
        align-items: baseline;
    }

    .form_box{
        margin-top: 15px;
    }

    .form2_content input{
        display: none;
    }

    .form2_content button{
        display: block;
    }

    .main_box{
        height: auto;
    }

    .accommodation_area article{
        margin-bottom: 10px;
    }

    .more{
        padding-bottom: 0;
    }

    .activities_box article{
        margin-bottom: 25px;
    }

    .footer_box{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-left: 75px;
    }

    .footer_description{
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 576px) {
    #popular_box{
        border-radius: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    #hebergements{
        background-color: white;
    }

    #hebergements h2{
        margin-left: 30px;
    }

    #hebergements article{
        margin-bottom: 15px;
    }

    #hebergements a{
        display: flex;
        flex-direction: column;
    }

    .more{
        margin-left: 30px;
    }

    .img_card{
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    }

    #activites{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .activities_box{
        width: 85%;
    }

    .activities_box article{
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 425px) {
    .img_activities{
        width: 70%;
        height: auto;
    }

    #popular_box .stars_bloc{
        padding-top: 20px;
    }

    #popular_box article{
        height: 140px;
    }

    #popular_box a{
        height: 100%;
    }
    
}

@media screen and (max-width: 398px) {
    .filters12{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
}

@media screen and (max-width: 376px) {
    .search_text{
        width: 100%;
    }   
    
    .form1_content{
        width: 100%;
    }
}
